
/* MARKDOWN STYLES */
// Headers

#viewer {
    
    h1 {
        font-size: 3rem;
        margin: 1rem 0;
    }
    
    h2 {
        margin-bottom: 0;
        margin-top: 1rem;
        font-size: 2rem;
    }
    
    h3{
        @extend h2;
        font-size: 1.5rem;
        color: #555;
    }
    
    // Text 
    
    p {
        margin: 0;
        margin-top: 0.5rem;
        line-height: 1.5;
        font-size: 13pt;
    }
    
    // Blockquote
    
    blockquote {
        border-left: 1.5mm solid gray;
        margin: 1rem 0;
        padding: 5mm;
        background-color: #f5f5f5;
        border-radius: 1mm;
        color: #555;

        p {
            text-align: left;
            margin: 0;
        }
    }
    
    // Code 
    
    p code, table code {
        background-color: rgba($color: rgb(0, 119, 255), $alpha: 0.2);
        padding: 3px 8px;
        border-radius: 2mm;
        color:rgb(30, 76, 128);
        font-size: 0.8rem;
        font-family: 'Source Code Pro', monospace;
    }
    
    pre {
        background-color: #333;
        border-radius: 2mm;
        color: white;
        padding: 8mm;
        font-family: 'Source Code Pro', monospace;
        font-size: 1rem;
    }
    
    // Tables 
    table {
        
        width: 100%;
        background-color: white;
        
        th, td {
            padding: 0.5rem 1rem;
        }
        
        tbody {
            background-color: #eee;
    
            tr {
                &:last-child {
                    td {
                        &:first-child {
                            border-bottom-left-radius: 2mm;
                        }
                        &:last-child {
                            border-bottom-right-radius: 2mm;
                        }
                    }
                }
            }
        }
        
        thead {
            background-color: #ddd;
    
            th {
                &:first-child {
                    border-top-left-radius: 2mm;
                }
                &:last-child {
                    border-top-right-radius: 2mm;
                }
            }
                
    
        }
    }
    // Lists 
    ul {
        padding-left: 10mm;

        &.contains-task-list {
            padding: 0;

            .task-list-item {
                
                &::before {
                    display: none;
                }
                input {
                    background-color: red;
                }
            }

        }

        li {
            list-style: none;

            &:last-child{ margin-bottom: 2mm;}
    
            &::before {
                content: '\2022';
                color: #ccc;
                display: inline-block;
                width: 5mm;
                margin-left: -5mm;
            }
    
            ul {
                padding-left: 10mm;
                padding-top: 2mm;
                margin-left: -4mm;
                border-left: 0.5mm solid #ccc;
                margin-top: -2mm;
            }

            
        }
    }
    
}
