@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@500&display=swap');
@import 'md-styles.scss';

$main: #79a3e7;
$main-dark: #668ac5;

body {
    font-family: 'Inter', sans-serif;
    margin: 0;
    box-sizing: border-box;

    &::-webkit-scrollbar {
        display: none;
    }

    h1 {
        &:first-child {
            margin-top: 0;
        }
    }
}

html {
    font-size: 100%;
    a {
        text-decoration: none;
        color: #9789f2;
    }
}

.dimmed {
    opacity: 0.5;
}

.cm-editor .cm-focused {
    outline: none;
}